.navbar-brand {
  font-family: "Major Mono Display", monospace;
  text-transform: lowercase;
  font-weight: bold;
}

.btn {
  font-family: "Major Mono Display", monospace;
  text-transform: lowercase;
  font-weight: bold;
}

.toggle {
  cursor: pointer;
}
