.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: 350ms;
  transition: 350ms;
}

.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.img-portfolio-head {
  width: 400px;
  height: 300px;
}

#portfolio * {
  z-index: 2;
  color: #231d23 !important;
}

.galleryContainer {
  padding-bottom: 50px !important;
}

.img-gd,
.img-voxel {
  padding: 0;
  margin-bottom: 0 !important;
}

.img-gd {
  border-radius: 25px;
}

.img-voxel {
  border-radius: 1em;
}
