.gudetama {
  transform-origin: 0% 50%;

  .shell {
    stroke-width: 22;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .yolk {
    stroke-width: 22;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    cursor: pointer;
  }

  .highlight {
    cursor: pointer;
  }

  .facial-feature {
    cursor: pointer;
  }

  .text {
    font-family: "Knewave";
    stroke-width: 10;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
